<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="client-movements.html">
<link rel="import" href="../bower_components/app-route/app-location.html">

   <!-- our application -->
   <link rel="import" href="simple-grid.html">

<dom-module id="client-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
  <iron-localstorage name="account-storage" value="{{accountData}}"></iron-localstorage>
      <iron-localstorage
        name="user-storage"
        value="{{storedUser}}"
        on-iron-localstorage-load="initStoredUser"></iron-localstorage>

        <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
        <app-location route="{{route}}"></app-location>
        <brum-global-variable key="accountData" value="{{accountData}}"></brum-global-variable>
        <iron-ajax
          auto
          id="getAccountAjax"
          method="get"
          url="http://localhost:3000/colapi/v1/users/{{storedUser.id_token.$oid}}/accounts"
          handle-as="json"
          last-response="{{secretQuote}}"></iron-ajax>


      <div hidden$="[[!storedUser.loggedin]]">
          <p>Hello, [[storedUser.name]]! You have access to your account:</p>
        </div>

        <p hidden$="[[storedUser.loggedin]]">You must <a href="[[rootPath]]register-login">log in</a> to access to your account</p>


    </div>

    <dom-repeat items="{{secretQuote}}">
         <template>
           <div class="card">

             <div>IBAN: <span>{{item.IBAN}}</span></div>
             <div>Saldo : <span>{{item.balance}}</span></div>
               <paper-button class="primary" raised on-tap="movements">Movimientos</paper-button>

           </div>
         </template>
       </dom-repeat>


  </template>

  <script>

var host='http://localhost:3000';
//var host='http://ec2-18-191-225-36.us-east-2.compute.amazonaws.com:3000';
    class ClientAccount extends Polymer.Element {
      static get is() { return 'client-account'; }

      static get properties() {
       return {
           storedUser: Object
       };
   }

   initStoredUser() {
       // if entering site on theaccount page, verify if logged in and if so, preload a accounts
       if (this.storedUser.loggedin) {
           this.getAccounts();
       }
   }

   getAccounts() {
       // add token authorization and generate Ajax request

       this.$.getAccountAjax.generateRequest();
    }

    movements(e) {
       var model = e.model;
       model.set('item.ordered', model.item.IBAN);
       console.log('cuenta +++'+model.item.IBAN);
       this.accountData=model.item;
         this.set('route.path', '/client-movements');
     }

    }

    window.customElements.define(ClientAccount.is, ClientAccount);
  </script>
</dom-module>
